<section class="manageSystemCtn">

  <!--  -->
  <div>
    <label class="mg-b-m">สำรองฐานข้อมูล</label>
    <form id="backupForm" class="al-c"
          onsubmit="createSpinner()"
          action="<%= PATH_BACKUP_DB %>" method="post">
      <section class="d-flex">
        <button type="button" class="btn btn-sm bg-mediumseagreen" id="btnBackupDb">
          <i class="fas fa-database mg-r-m"></i> Backup Database
        </button>
        <button type="submit" class="btn btn-sm bg-green dp-n" id="btnConfirmBackupDb">
          <i class="fas fa-check-circle mg-r-m"></i> ยืนยัน
        </button>
      </section>
    </form>
  </div>  

  <!--  -->
  <% if(backupFolders && backupFolders.length>0){ %>
  <div class="mg-t-l">
    <% backupFolders.forEach( (folderName, index) => { %>
    <div class="flex-row mg-t-s pd-b-s bb-d <%= index%2==0 ? 'pd-t-s bt-d' : '' %>">

      <form class="mg-r-l" action="<%= PATH_DOWNLOAD_BACKUP %>/<%= folderName %>" 
           method="get">
        <button class="btn btn-sm bg-download" type="submit">
          <i class="fas fa-download"></i>
        </button>
      </form>

      <label class="fc-gray mg-r-l">
        <span class=""><%= index+1 %>.) <%= folderName %></span>
      </label>

      <form action="<%= PATH_REMOVE_BACKUP %>/<%= folderName %>" 
            class="remove-backup-form"
            method="get">
        <button class="btn btn-sm bg-delete" type="submit">
          <i class="fas fa-trash-alt"></i>
        </button>
      </form>
      
    </div>
    <% }) %>
  </div>
  <% } %>

  <!--  -->
  <div class="mg-t-xl">
    <label class="mg-b-m">
      <span>อัปเดทระบบ</span>
      <span class="fc-cornblue fw-b">[ เวอร์ชั่นปัจจุบัน <%= SYS_VERSION %> ]</span>
    </label>
    <form id="updateForm" class="al-c"
          onsubmit="createSpinner()"
          action="<%= PATH_UPDATE_SYSTEM %>" method="post">
      <section class="d-flex">

        <button type="button" class="btn btn-sm bg-cornblue" id="btnUpdateSystem">
          <i class="fas fa-sync mg-r-m"></i> Update System
        </button>

        <button type="submit" class="btn btn-sm bg-green dp-n" id="btnConfirmUpdateSystem">
          <i class="fas fa-check-circle mg-r-m"></i> ยืนยัน
        </button>
        
      </section>
    </form>
  </div>

  <!--  -->
  <div class="mg-t-xl">
    <label class="mg-b-m">เริ่มระบบใหม่</label>
    <form id="restartForm" class="al-c" 
          onsubmit="createSpinner()"
          action="<%= PATH_RESTART_PM2 %>" method="post">
      <section class="d-flex">
        <button type="button" class="btn btn-sm bg-dkorange" id="btnRestartPm2">
          <i class="fas fa-redo  mg-r-m"></i> Restart
        </button>
        <button type="submit" class="btn btn-sm bg-green dp-n" id="btnConfirmRestartPm2">
          <i class="fas fa-check-circle mg-r-m"></i> ยืนยัน
        </button>
      </section>
    </form>
  </div>



</section>